body{
    background-color: #8367c7;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-shadow: 2px 2px 8px #fff;
}
@media screen and (max-width:370px){
   header{
       font-size: 11px;
   }
}
